/*
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Russo One', sans-serif;
*/

body{
    background: #2F343A;
    margin: 0;
}

.container{
    max-width: 1150px;
    margin: 0 auto;
}

.header{
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    padding-top: 24px;
    padding-bottom: 70px;
}

.location{
    display: flex;
    margin-left: 91px;
    align-items: center;
}

.item{
    display: inline;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
}

.button-header{
    color:#FFFFFF;
    text-decoration: none;
    margin-left: 25px;
}

.button-header:first-child{
    margin-left: 0;
}

.first{
    margin-left: 24px;
    font-size: 20px;
    font-weight: 400px;
}

.location p{
    margin-left: 10px;
    font-size: 14px;
    font-weight: 400px;
}

.item-menu{
    margin-left: 252px;
    padding-left: 0;
}

.box{
    border: 1px solid #C8A35F;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 62px;
    letter-spacing: 0.05em;
    margin-top: 65px;
}

.one_block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(img/truck.jpg);
    margin-bottom: 165px;
    background-repeat: no-repeat;
}

.box h1{
    margin: 35px 0 38px 0;
    font-size: 64px;
    font-weight: 700px;
}

.box h2{
    margin: 0 0 45px 0 ;
    font-size: 32px;
    font-weight: 700px;
}

.box-2{
    background: #C8A35F;
    border-radius: 50px;
    width: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 129px;
    text-decoration: none;
}

.box-2 p{
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 23px 0 20px 0;
    line-height: 38px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #ffffff;
    font-size: 32px;
    font-weight: 700px;
}

.company{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color:#ffffff;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 157px;
}

.company-box{
    display: flex;
    color: #2F343A;
}

.company-text{
    width: 41%;
}

.company-text h1{
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin: 0 0 30px 0;
    margin-top: 52px;
}

.company-text p{
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.05em;
    margin: 0;
    line-height: 23px;
}

.box-one{
    background: #FFFFFF;
    margin-top: 170px;
    height: 48%;
}

.box-two{
    background: #FFFFFF;
    height: 50%;
}

.box-three{
    background: #FFFFFF;
    margin-top: 170px;
    height: 48%;
}

.box-one h2{
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    letter-spacing: 0.05em;
    margin: 23px 62px 10px 62px;
}

.box-one p{
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.05em;
    margin: 0;
}

.box-two h2{
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    letter-spacing: 0.05em;
    margin: 23px 50px 0 50px;
}

.box-two p{
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.05em;
    margin: 0;
}

.box-three h2{
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    letter-spacing: 0.05em;
    margin: 23px 40px 0 40px;
}

.box-three p{
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.05em;
    margin: 0;
}

.line{
    border: 1px solid #FFFFFF;
    transform: rotate(0.1deg);
    max-width: 1150px ;
    margin: 0 auto;
    margin-bottom: 100px;
}

.all-icon{
    display: flex;
    justify-content: space-between;
}

.quality h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: #FFFFFF;
    margin-bottom: 78px;
}

.icon-1, .icon-2, .icon-3, .icon-4{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
}

.icon-1, .icon-2, .icon-3{
    width: 20%;
}

.icon-4{
    width: 20%;
}

.icon-4 p{
    margin-top: 7px;
}

.icon-1 p{
    margin-top: 9px;
}

.quality{
    margin-bottom: 65px;
}

.all-price{
    display: flex;
    justify-content: space-between;
}

.rus, .evrope{
    width: 22%;
}

.delivery{
    padding-bottom: 70px;
}

.partners{
    padding-bottom: 64px;
}

.delivery h1{
    color: #FFFFFF;
    text-align: center;
    font-size: 36px;
    font-weight: 400px;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.rus h2, .evrope h2{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    color: #F1F1F1;
    margin: 77px 0 1px 0;
}

.rus h3, .evrope h3{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #C8A35F;
    margin: 0 0 22px 0;
}

.rus p, .evrope p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #F1F1F1;
    width:100%;
    margin: 0 0 43px 0;
    line-height: 19px;
}

.price h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    opacity: 0.7;
    text-align: center;
    margin: 50px 0 13px 0;
}

.price h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #C8A35F;
    opacity: 0.7;
    text-align: center;
    margin: 0 0 25px 0;
}

.button-rus, .button-evrope{
    background: #C8A35F;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    border: none;
}

.button-rus p, .button-evrope p{
    margin: 11px 38px;
    width: 40%;
}

.all-partners{
    display: flex;
    justify-content: space-between;
}

.img{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F1F1F1;
    border-radius: 20px;
    width: 15%;
    height: 68px;
}

.partners h1{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 0 71px 0;
}

.quests{
    padding-bottom: 104px;
}

.quests h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    color: #C8A35F;
    margin: 0 0 51px 0;
}

.block{
    display: flex;
    align-items: center;
    border-top: 1px solid #C8A35F;
    padding: 15px 0 15px 0;
}


.block p{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #F1F1F1;
    margin-left: 22px;
}

.block:last-child{
    border-bottom: 1px solid #C8A35F;
}

.block svg{
    margin-left: 40px;
    cursor: pointer;
}

.form{
    background: #FFFFFF;
    border-radius: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 100%;
    height: 100%;
}

.form{
    display: flex;
    margin-bottom: 63px;
}

.number-mail{
    display: flex;
}

.submit{
    display: flex;
}

.form svg{
    margin: 39px 0 38px 55px ;
    width: 24%;
    height: 24%;
}

.quest{
    background: #FFFFFF;
    border: 2px solid #C8A35F;
    border-radius: 20px;
    margin: 38px 0 0 14px;
    height: 10%;
    width: 51%;
}

.quest h1{
    font-family: 'Montserrat',sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #000000;
    margin: 20px 0 20px 20px
}

.quest p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    margin: 0 0 38px 20px;
    width: 83%;
}

.user{
    margin: 38px 38px 0 38px;
}

.rd{
    margin-bottom: 20px ;
    width: 95%;
}

.submit p{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    color: #4F4F4F;
    width: 100%;
}

.number-mail input:last-child{
    margin: 0 0 20px 20px;
}

.submit input{
    margin-left: 20px;
    background: #C8A35F;
}

input{
    font-family: 'Montserrat', sans-serif;
    padding-left: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 17px;
    color: #4F4F4F;
    border-radius: 6px;
    border: none;
    width: 100%;
    height: 49px;
    background: rgba(0, 1, 7, 0.1);
}

input[type="submit"]{
    color: #ffffff;
    font-size: 14px;
    padding-left: 0;
    cursor: pointer;
}

.map{
    display: flex;
    background: #F1F1F1;
    border-radius: 33px 0px 0px 33px;
    margin-bottom: 74px;
}

.map-text h1{
    font-family: 'Russo One', sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #C8A35F;
    width: 80%;
    margin: 40px 0 16px 38px;
}

.map-text h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #1B2639;
    margin: 0 0 36px 38px;
}

.map-text h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: #C8A35F;
    margin: 0 0 6px 38px;
}

.map-text p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #1B2639;
    margin: 0 0 26px 38px;
}

.phone{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #1B2639;
    margin: 0 0 26px 38px;
    text-decoration: none;
}

.one-line{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon{
    display: flex;
    align-items: center;
    margin-bottom: 19px;
}

.icon h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-left: 24px;
}

.footer{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
}

.item-footer{
    display: inline;
    margin-left: 22px;
}

.social-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 24px;
    padding-bottom: 45px;
}

.line-footer{
    border: 1px solid #FFFFFF;
    transform: rotate(0.1deg);
    max-width: 1150px ;
    margin: 0 auto;
    margin-bottom: 23px;
}

